@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
html, body { 
	height: 100%; 
	padding: 0; 
	margin: 0; 
	font-family: 'Josefin Sans', sans-serif;
}

div{
	float: left;
	width: 50%;
	height: 50%;
	text-align: center;
	display: table;
}

#aboutme {
	background: #009393;
}

#contact {
	/*background: #BF8A49;*/
/*	background: linear-gradient(
		rgba(255, 0, 0, 0.5), 
		rgba(255, 0, 0, 0.5)
		), url('http://www.brandeis.edu/about/images/newformat/map2.jpg');*/
position:absolute;
background-image: url('http://www.brandeis.edu/about/images/newformat/map2.jpg');
-webkit-filter: blur(2px) brightness(0.4);
        filter: blur(2px) brightness(0.4);
background-size: cover;
z-index: -1;

}

#projects {
	/*background: #FF3800;*/
	background-image: url('http://bluewallpaper.org/backgrounds/blue_binary_code-316259.jpeg');
	-webkit-filter: blur(1px) brightness(0.4);
background-size: cover;
z-index: -1;
position:absolute
		/*background: linear-gradient(
		rgba(255, 0, 0, 0.5), 
		rgba(255, 0, 0, 0.5)
		), url('http://bluewallpaper.org/backgrounds/blue_binary_code-316259.jpeg');*/
}

#blogs {
	background: #00585F;
}

a {
	display: table-cell;
	vertical-align: middle;
	font-size: 50px;
	color: white;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

a:hover, a:focus, a:active {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}
