<div class='row'>
    <div class='card-panel z-depth-3'>
        <div class='card-panel z-depth-3 orange'>
            <h1>
            <a class='btn-floating red' ng-href="#/"  ><i class='material-icons left'>keyboard_arrow_left</i></a>
             <span class='center'>{{movie.name}} </span>
             </h1>
        </div>
        <div class='row'>
            <div class='col s12 m5'>
                <img class='materialboxed z-depth-3' src='{{movie.poster}}'>
            </div>
            <div class='col s12 m7'>
                <span>
                <div class='card-panel z-depth-3 teal text-lighten-2'>
                    <div class='card-panel z-depth-3'>Plot: {{movie.plot}}</div>
                    <div class='card-panel z-depth-3'>Rating: {{movie.rating}}</div>
                    <div class='card-panel z-depth-3'>Director: {{movie.director}}</div>
                    <div class='card-panel z-depth-3'>Actors: {{movie.actors}}</div>
                </div>
               </span>
            </div>
        </div>
    </div>
</div>
