<h3>New Cinéma </h3>
<div class="row">
    <form name="newMovieForm" class='col m7'>
        <div class="input-field row">
            <span class='col m11'>
        <input class="validate" required placeholder="Title" id="name" type="text" name="name" ng-model="newMovie.name" />
        <label for="name">Title</label>
        </span>
            <span class='col m1'>
        <button ng-disabled="newMovie.name == undefined || newMovie.name == ''" ng-click="findMovies()" class="waves-effect waves-light btn"><i class="material-icons">search</i></button>
        </span>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="year" id="year" type="text" name="year" ng-model="newMovie.year" />
            <label for="year">Year</label>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="poster URL" id="poster" type="text" name="poster" ng-model="newMovie.poster" />
            <label for="poster">Poster</label>
        </div>
        <div class="input-field row">
            <span class='col m11'>
            <input class="validate" required placeholder="IMDbID eg. tt1234567" id="imdbId" type="text" name="imdbId" ng-model="newMovie.imdbId" />
            <label for="imdbId">IMDbId</label>
            </span>
            <span class='col m1'>
            <a ng-show="newMovie.imdbId" class="waves-effect waves-light btn yellow black-text" href="http://www.imdb.com/title/{{newMovie.imdbId}}/combined" target="_blank">IMDb</a>
            </span>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="plot" id="plot" type="text" name="plot" ng-model="newMovie.plot" />
            <label for="plot">Plot</label>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="rating eg. R / PG" id="rated" type="text" name="rated" ng-model="newMovie.rated" />
            <label for="rated">Rated</label>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="director name" id="director" type="text" name="director" ng-model="newMovie.director" />
            <label for="director">Director</label>
        </div>
        <div class="input-field">
            <input class="validate" required placeholder="names of actors" id="actors" type="text" name="actors" ng-model="newMovie.actors" />
            <label for="actors">Actors</label>
        </div>
        <br>
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" class="waves-effect waves-light btn">Save</button>
        <br>
        <br>
        <br>
    </form>
    <div class='col s12 m5 center-align'>
        <img ng-show="newMovie.poster" class='circle responsive-img' src='{{newMovie.poster}}' />
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div ng-show="movies">
            <blockquote>Do any of these look like the one you want. If so, select it by clicking it. Otherwise, continue with the form, you will!</blockquote>
            <div class="collection" ng-repeat="movie in movies">
                <a class="collection-item" ng-click="findMovieById()">{{movie.Title}} - {{movie.imdbID}} - {{movie.Year}}</a>
            </div>
        </div>
        <div ng-hide="movies">Sorry...no donut for you! Nothing found with <span class="pink-text ">{{newMovie.name}}</span></div>
    </div>
</div>
