@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #F5F1E3;
  font-family: "Old Standard TT", Times New Roman, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #433F3F;
}

a {
  padding-bottom: 2px;
  color: #433F3F;
  text-decoration: none;
  border-bottom: 1px solid #433F3F;
  transition: all .15s ease-in-out;
}
a:hover {
  color: #A34040;
  border-bottom-color: #A34040;
}

#page {
  margin: 120px auto 60px;
  padding: 0 30px;
  max-width: 900px;
}

.site-header {
  text-align: center;
}

.site-header:after {
  display: block;
  content: '';
  margin: 60px auto 90px;
  max-width: 400px;
  border-bottom: 1px solid #D6CCC7;
}

h1.site-title {
  margin: 0 0 15px 0;
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
}
h1.site-title a {
  border: none;
}

p.site-description {
  margin: 0;
  font-size: 16px;
  color: #64625C;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.site-main {
  margin: auto;
  max-width: 640px;
}

.site-main .entry-title,
.site-main .entry-meta {
  text-align: center;
}

h1.entry-title {
  margin: 60px 0 5px 0;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry-meta .posted-on {
  margin: 0;
  color: #64625C;
  font-size: 18px;
  font-style: italic;
}

.entry-content {
  margin-top: 60px;
  font-size: 22px;
}

/*.entry-content > p:first-of-type:first-line {*/
/*  text-transform: uppercase;*/
/*}*/

.entry-footer {
  margin: 90px 0;
  padding: 30px 0;
  font-size: 18px;
  font-style: italic;
  border-top: 1px solid #D6CCC7;
  border-bottom: 1px solid #D6CCC7;
}
.entry-footer p {
  margin: 0;
}

.comment-area {
  margin-top: 90px;
}

h2.comment-title {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
h2.comment-title:after {
  display: block;
  content: '';
  margin: 30px auto 60px;
  max-width: 300px;
  border-bottom: 1px solid #D6CCC7;  
}

ul.comment-list {
  margin: 0;
  padding: 0;
}

ul.comment-list li {
  margin-bottom: 60px;
  list-style-type: none;
}

ul.comment-list li a {
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.comment-author {
  font-size: 22px;
  font-weight: bold;
}
.comment-author a {
  border-bottom: none;
}

.comment-meta {
  font-size: 16px;
}

.comment-content {
  font-size: 18px;
}

.site-footer {
  margin-top: 120px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}