@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic);
body {
  text-align: center;
  /*position:relative;*/
  
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 60%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

h1:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

img:hover {
  -webkit-transform: translate(5em,0) scale(1.5);
  -moz-transform: translate(5em,0) scale(1.5);
  -o-transform: translate(5em,0) scale(1.5);
  transform: translateX(5em,0) scale(1.5);
}

a {
  text-decoration: none;
  color: orangered;
  text-decoration: none;
}

a:hover {
  color: dimgrey;
  text-decoration: none;
  background-color: yellow;
}

.search {
  background-color: dimgrey;
  color: lightcoral;
  padding: 2em;
  margin: 0;
}

table {
  /*border: solid;*/
  
  border-top-style: solid;
  /*border-bottom-style: solid;*/
  
  border-width: 1px;
  width: 100%;
  margin: 5% 0;
}

th,
td {
  border-bottom-style: solid;
  border-width: 1px;
  padding: 1%;
}

#details {
  text-align: left;
  background-color: gray;
  padding: 2% 2%;
  color: ivory;
}

.poster {
  width: 48%;
}

.movie-stuff {
  width: 48%;
  float: right;
}

footer {
  clear: both;
}
